body {
  background-color: darkgrey;
}
/*#playButton {
  display: block;
  font-size: 20px;
  margin: 20px 10px;          
  font-weight: bold;
  color: #222;
  text-decoration: none;
}*/

div#river {
    width: 450px;
    height: 100%;
    background-color: lightblue;
    position: absolute;
    z-index: -3;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;
}

div#obertka {
    padding-top: 50px;
    margin: 0 auto;
    width: 960px;
    /*display: inline;*/
    /*position: absolute;*/
}

.passazhir:hover {
    cursor: pointer;
}

.passazhir {
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 100px;
}        
img {
    max-width:100%;
    max-height:100%;
}

#lodka {
  margin: 5px;
  width: 150px;
  height: 30px;
  background: brown;
  margin-left: 260px;
  z-index: -1;
  /*margin-top: 30px;*/
  /*box-shadow: 5px 5px 0px #D1D1D1;*/
}

.knopka {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  height: 30px;
}
#pravo {
  margin-left: 550px;
}
